:root {
    --backgroundcolor: #15202B;
    --cardcolor: #192734;
    --hovercolor:#22303c;
    --primarytext:#ffffff;
    --secondarytext:#8899a6;
  }
  
  
  .navbar {
      display:flex;
      background-color: var(--cardcolor);
  }