:root {
    --backgroundcolor: #15202B;
    --cardcolor: #192734;
    --hovercolor:#22303c;
    --primarytext:#ffffff;
    --secondarytext:#8899a6;
}

.header2 {
	padding: 60px 60px 0px 60px;
	text-align: center;
	background: var(--backgroundcolor);
	color: var(--primarytext);
}

#cardBody {
	background-color: var(--cardcolor);
	color: var(--primarytext);
	text-align: center;
}
